.background{
    background: white;
    position: absolute;
    transform: translate(-50%,-50%);
    /*overflow: hidden;*/
}
.container *{
    position: relative;
    /*pointer-events: none;*/
    transform: translate(-50%,-50%);
    pointer-events: all;

}
img{
    position: relative;

    transform: translate(-50%,-50%);
    pointer-events: all;

}
.container{
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);

}
.active{
    opacity: 0.5;
}
.pos_button{
    z-index: 12;
    position: relative;

}
.input_range {

    position: absolute;

    transform: rotate(-90deg)

}
button{
    position: absolute;
    pointer-events: all;
}
.displayArea{
    pointer-events: stroke;
}