.displayArea {
  pointer-events: stroke;
  overflow: hidden;

  * {
    position: absolute;
  }

  .background {
    background: black;
    transform: translate(-50%, -50%);
    overflow: visible;

    .translable {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .text {

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: pre-wrap;
      font-size: 32px;
    }

    .image {
      background-repeat: no-repeat;
      background-size: contain;
    }
    .image:active {
      opacity: 0.7;
    }

  }


  .holding {
    opacity: 0.5;
  }

  .borderBox > button {
    opacity: 0.9;
    background: lightgray;
    transform: translate(-50%, -50%);
    border: none;
  }

  .textInput {

    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);

    z-index: 20000;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      word-break: break-all;
      width: 1050px;
      text-align: center;
      font-size: 75px;
      z-index: 20001;
      background: white;
      opacity: 1;

      border: none;
      resize: none;
      max-height: 550px;
    }
  }

  .trash {
    right: 0;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 25px;
    font-family: 'Tahoma';
    background: lightgrey;
    color: white;
    margin: 30px;
  }

  .trash:hover {
    background: lightslategrey;
  }
}








