.sizeBackground{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.sizeBackground input{
    width: 80px;
}
textarea{
    width: 90%;
}
.preferencesArea{
    padding: 2vh 3vh;

}